@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  /* border: 2px solid red; */
}

#header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

:root {
  --clr-100: hsl(322, 100%, 66%);
  --clr--200: hsl(193, 100%, 96%);
  --clr-300: hsl(192, 100%, 9%);
  --clr-400: hsl(208, 11%, 55%);
}

/* Meida Queries */
@media (min-width: 768px) {
  #header {
    background-image: url("../images/bg-hero-desktop.svg");
  }
}
